# Spring + Node + Angular .gitignore
target/
*.log
*.tmp
*.pid
*.gz
*.swp
*.swo
*.lock
*.iml
.idea/
*.iws
*.ipr
.classpath
.project
.settings/
bin/
out/
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock
dist/
build/
coverage/
.env
.env.local
.env.*.local
tmp/
out-tsc/

